<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="CinemaKredek" connectionString="Data Source=LAPTOP-LVDGN2T2;Database=CinemaKredek;Integrated Security=True"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>